#root{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
}
.app-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #000, #1a1a1a);
  z-index: -1;
}

.linkedin-form,
.info-form {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
  
  
}
label .linkp{
  margin-bottom: 12px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 12px 24px;
  background-image: linear-gradient(to right, #ff5e62, #ff9966);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.submitted {
  background: none;
}

.submitted .info-form {
  background-color: transparent;
  box-shadow: none;
}

.submitted .linkedin-form {
  display: none;
}
