body {
  font-family: Arial, sans-serif;
  background-color: #e0dddd;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 100px;
  margin-top: 100px;
  background-color: rgb(33, 36, 37);
  border-radius: 5px;
  box-shadow: 0 4px 6px 3px rgba(217, 85, 3, 0.707);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: beige;
  text-shadow:
    1px 3px 3px black,
    0 0 1em rgb(255, 221, 0),
    0 0 0.2em rgb(0, 195, 255);
  font-weight: bolder;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 25px;
  border: 1px solid rgb(13, 105, 176);
  border-radius: 5px;
  box-shadow: 0 2px 6px 6px rgb(44, 37, 117);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e94904;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  font-size: 27px;
  color: white;
  padding: 10px;
  text-shadow:
    1px 3px 3px black,
    0 0 0.2em rgb(0, 195, 255);
  border-bottom: 5px solid #1ab81afa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="checkbox"] {
  margin: 0 0 0 232px;
  transform: scale(3);
}

li:last-child {
  border-bottom: none;

}