.flx{
    display: flex;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.m1{
    margin: 5px;
}
.m2{
    margin: 7px;
}
.m3{
    margin: 10px;
}
.mb1{
    margin-bottom: 5px;
}
.mb2{
    margin-bottom: 20px;
}
.p1{
    padding: 3px;
}
.p2{
    padding: 5px;
}
.p3{
    padding: 23px;
}
.bg-dark{
    background-color: black;
}
.b1{
    border-radius: 3px;
}
.b2{
    border-radius: 5px;
}
.g1{
    gap: 5px;
}
.g2{
    gap: 15px;
}
.f-1{

    font-size: 23px;
}
.invert{
    filter: invert(1);
}
.f-l1{
  font-weight: 100;
  font-size: 10px;

}
.c-nav{
    background-color: #121212;
}