/* Mobile */
@media (max-width: 480px){
    body{
        font-size: 14px;

    }
    nav ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        height: 40px;
        background-color: rgb(33, 33, 33);
        color: white;
    }
    nav ul li{
        margin: 5px;
    }
    .showcase{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url("antipolymatter.jpg");
        object-fit: cover;
        height: 500px;
        
    
    }
    .head{
        margin: 33px auto;
        font-size: 25px;
    }
    .iconsvg{
        display: none;
    }

}
/* Tablet */
@media (min-width: 480px) and (max-width:768px){
    .iconsvg{
        display: none;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        height: 40px;
        background-color: rgb(33, 33, 33);
        color: white;
    }

}
@media (max-width: 1054px){
    .iconsvg{
        display: none;
    }
}

